*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

.header__title {
	color: blue;
}

span {
	color: red;
}

.main__text {
	color: blueviolet;
}

main .nav__menu {
	color: brown;
}

#id1 > p {
	color: hotpink;
}

nav .nav__menu .menu {
	color: indigo;
}

#id1,
#id2,
#id3 {
	color: lightcoral;
}

#id2 .text {
	color: lawngreen;
}
#id3 .zavet2 {
	color: lightseagreen;
}

#id4 .text1,
.text2 {
	color: magenta;
}

.text3 {
	color: mediumblue;
}

.text4 > p {
	color: mediumpurple;
}
.text5 h4 {
	color: mediumvioletred;
}
.text5 {
	color: olive;
}
